/* components/LoginForm.css */
/* styles/LoginForm.css */
body {
    margin: 0;
    padding: 0;
    background-image: url('../assets/giphy_01.gif'); /* Adjust the path based on your project structure */
    background-size: contain;
    background-position: center;
    font-family: 'Arial', sans-serif; /* Adjust the font family as needed */
    color: white; /* Set text color to white or adjust as needed */
  }
  
  .signup-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom right, #3498db, #ffffff); /* Blue to white gradient */
  }
  
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .signup-btn {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signup-btn:hover {
    background-color: #45a049;
  }
  